{% load static %}
<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<title>Maya goyum Banky</title>
	<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">

	<!-- CSS here -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" media="all" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>

<body>
	<!-- Preloader -->
	<div id="preloader">
		<div id="ctn-preloader" class="ctn-preloader">
			<div class="round_spinner">
				<div class="spinner"></div>
			</div>
			
		</div>
	</div>
	<!-- Header -->
	<script>
	const icon = document.querySelector('.flip-icon');

icon.addEventListener('click', () => {
  icon.style.transform = 'rotateY(180deg)';

  setTimeout(() => {
    icon.style.transform = 'none';
  }, 500);
});
	</script>
	<header class="header" style="position:fixed">
		<div class="header-menu header-menu-1" id="sticky">
			<nav class="navbar navbar-expand-lg ">
				<div class="container">
					<a class="navbar-brand sticky_logo" href="index.html">
						<img class="flip-icon" src="{% static 'img/Logo1.png' %}" alt="logo" width="70px">
					</a>
						<a class="theme-btn theme-btn-rounded-2">"Oguz mugallym" otagy</a>
						<a class="theme-btn theme-btn-rounded-2" href="log_in.html">Icheri gir</a>
					</div>
				</div>
			</nav>
		</div>
	</header>
	<!-- Header end-->
	<main>
		<!-- banner section -->
			<section style="margin-bottom:20vh" id="home">
				<div class="container">
					<div class="row">
						<div class="col-lg-11 mx-auto">
							<div class="pt-150">
							<div class="skills__container grid">
								<!-- ================= -->
								<div class="home__social zented" style="margin-left:-16vw;position:fixed;">
									<a href="#home" class="home__social-link">
										<i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
										<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664z"/>
										</svg></i>
									</a>
									<a href="#feature" class="home__social-link">
										<i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
										<path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
										<path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
										</svg></i>
									</a>
									<a href="#tablisa" class="home__social-link">
										<i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar2-day" viewBox="0 0 16 16">
										<path d="M4.684 12.523v-2.3h2.261v-.61H4.684V7.801h2.464v-.61H4v5.332h.684zm3.296 0h.676V9.98c0-.554.227-1.007.953-1.007.125 0 .258.004.329.015v-.613a1.806 1.806 0 0 0-.254-.02c-.582 0-.891.32-1.012.567h-.02v-.504H7.98v4.105zm2.805-5.093c0 .238.192.425.43.425a.428.428 0 1 0 0-.855.426.426 0 0 0-.43.43zm.094 5.093h.672V8.418h-.672v4.105z"/>
										<path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
										<path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4z"/>
										</svg></i>
									</a>
									<a href="#featureq" class="home__social-link">
										<i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-btn" viewBox="0 0 16 16">
										<path d="M6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
										<path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm15 0a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
										</svg></i>
									</a>
									<a href="#journals" class="home__social-link">
										<i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-journal-check" viewBox="0 0 16 16">
										<path fill-rule="evenodd" d="M10.854 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
										<path d="M3 0h10a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-1h1v1a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1v1H1V2a2 2 0 0 1 2-2z"/>
										<path d="M1 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1z"/>
										</svg></i>
									</a>
									<a href="#footer" class="home__social-link">
										<i><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-square" viewBox="0 0 16 16">
										<path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"/>
										<path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
										</svg></i>
									</a>
								</div>

								<!-- ================= -->
								<div class="border">
									<div class="frame">
									<img class="image" src="{% static 'img/attractive-modern-young-business-woman-with-clipboard.jpg' %}"  width="175" height="233">
								</div>
								</div>
									<div class="skills__content">
										<h3 class="skills__title qwerty1"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person" viewBox="1.6 1.6 16 16">
  										<path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
										</svg>Mugallym:</h3>
										<div class="skills__box">
											<div class="skills__group">
												<div class="skills__data">
													<i class="bx bxs-badge-check"></i>
													<div>
														<h3 class="skills__name qwerty2">Begm yradow Myrat geldi</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="skills__content">
										<h3 class="skills__title qwerty1" ><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-person-check" viewBox="1.6 1.6 16 16">
										<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514ZM11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
										<path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
										</svg>Derejesi:</h3>
										<div class="skills__box">
											<div class="skills__group">
												<div class="skills__data">
													<i class="bx bxs-badge-check"></i>
													<div>
														<h3 class="skills__name qwerty2">Kandidat</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="skills__content">
										<h3 class="skills__title qwerty1" ><svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-building-check" viewBox="0 0 16 16">
											<path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
											<path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
											<path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
											</svg>Kafedrasy:</h3>
										<div class="skills__box">
											<div class="skills__group">
												<div class="skills__data">
													<i class="bx bxs-badge-check"></i>
													<div>
														<h3 class="skills__name qwerty2">Kompýuter ylymlary we maglumat tehnologiýalary</h3>
													</div>
												</div>
											</div>
										</div>
									</div>
									
                				</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<img src="{% static 'img/yup.png' %}"  width="300" height="600" style="position:absolute;margin-top:-17vh;margin-left:6%">
			<section class="feature-area pt-200 pb-130 levt">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 mx-auto pt-160 pt-lg-90 pb-65" id="feature">
						<div class="section-title">
							<h2 class="wow fadeInUp">Okadýan dersleri</h2>
							</p>
						</div>
					</div>
				</div>
						<div class="row gy-xl-3 gy-4">
					<div class="col-xl-3 col-md-6">
						<div class="feature-card-widget wow fadeInUp">
							<div class="card-img">
								<img style="width:100%" src="https://img.freepik.com/free-vector/business-processes-organization-workforce-distribution-delegating-responsibilities-scheduling-planning-managerial-supervision-control-vector-isolated-concept-metaphor-illustration_335657-2780.jpg?w=740&t=st=1700541121~exp=1700541721~hmac=cab18caf771918fe19a88dbd6bc88b6be830f85eebf3fffecb88081d312336ca" alt="feature png">
							</div>
							<h4>Data structures and analysis</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="feature-card-widget wow fadeInUp" data-wow-delay="0.3s">
							<div class="card-img">
								<img src="img/icon_2.png" alt="feature png">
							</div>
							<h4>Goshmacha göterim</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="feature-card-widget wow fadeInUp" data-wow-delay="0.6s">
							<div class="card-img">
								<img src="img/icon_3.png" alt="feature png">
							</div>
							<h4>Goshmacha gulp</h4>
							<p>
							</p>
						</div>
					</div>
					<div class="col-xl-3 col-md-6">
						<div class="feature-card-widget wow fadeInUp" data-wow-delay="0.9s">
							<div class="card-img">
								<img src="img/icon_4.png" alt="feature png">
							</div>
							<h4>Maya goyum</h4>
							<p></p>
						</div>
					</div>
										<div class="col-xl-3 col-md-6">
						<div class="feature-card-widget wow fadeInUp" data-wow-delay="0.9s">
							<div class="card-img">
								<img src="img/icon_4.png" alt="feature png">
							</div>
							<h4>Maya goyum</h4>
							<p></p>
						</div>
					</div>
										<div class="col-xl-3 col-md-6">
						<div class="feature-card-widget wow fadeInUp" data-wow-delay="0.9s">
							<div class="card-img">
								<img src="img/icon_4.png" alt="feature png">
							</div>
							<h4>Maya goyum</h4>
							<p id="tablisa"></p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<!--jasdkjgsdhkgjhsfkghsdk-->
		<img src="{% static 'img/gyzyl.png' %}"  width="550" height="550" style="margin-top:5%;float: right;">

<table class="table table-bordered" style="width:50vw;margin-left:5vw;border: 1px solid goldenrod">
   <b style="margin-left:8vw;color:goldenrod;font-size:200%">Mugallymyň okuw sapaklarynyň tertibi</b>
  <thead>
    <tr>
      <th style="width:2vw" scope="col">#</th>
      <th style="width:15vw" scope="col">1-nji para</th>
      <th style="width:15vw" scope="col">2-nji para</th>
      <th style="width:15w" scope="col">3-nji para</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Du</th>
      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
            <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
            <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
    </tr>
    <tr>
      <th scope="row">Si</th>
            <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
            <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
            <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
    </tr>
    <tr>
      <th scope="row">Çar</th>
            <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
    </tr>
	    <tr>
      <th scope="row">Pen</th>
            <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
    </tr>
    <tr>
      <th scope="row">Anna</th>
          <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
    </tr>
    <tr>
      <th scope="row">Şe</th>
           <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>      <td><h6 style="font-size:70%">Group: <a style="color:blue">1234</a></h6>
	  <h6 style="font-size:70%">Auditorium: <a style="color:red">3131</a></h6>
	  <b>Data Structures and algorithms</b>
	  </td>
    </tr>
  </tbody>
</table>
<!--jasdkjgsdhkgjhsfkghsdk-->

		<section class="feature-area pt-11 pb-130" style="margin-top:-10vh" id="featureq">
			<div style="padding:5vw">
				<div class="row">
					<div class="col-lg-6 mx-auto pt-160 pt-lg-90 pb-65">
						<div class="section-title">
							<h2 class="wow fadeInUp">Mugallymyň wideo sapaklary</h2>
						</div>
					</div>
				</div>
				<div class="row gy-xl-0 gy-4">
					<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq">
								<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							 	<i class="bi bi-play"></i>
							</div>
							<p style="margin-top:0vh;text-align:right">12:54</P>
							<p style="margin-top:-5vh;text-align:left"><i class="bi bi-eye"></i>7676</p>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, siz
gören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq">
								<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							 	<i class="bi bi-play"></i>
							</div>
							<p style="margin-top:0vh;text-align:right">12:54</P>
							<p style="margin-top:-5vh;text-align:left"><i class="bi bi-eye"></i>7676</p>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, siz
gören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq">
								<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							 	<i class="bi bi-play"></i>
							</div>
							<p style="margin-top:0vh;text-align:right">12:54</P>
							<p style="margin-top:-5vh;text-align:left"><i class="bi bi-eye"></i>7676</p>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, siz
gören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq">
								<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							 	<i class="bi bi-play"></i>
							</div>
							<p style="margin-top:0vh;text-align:right">12:54</P>
							<p style="margin-top:-5vh;text-align:left"><i class="bi bi-eye"></i>7676</p>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, siz
gören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq">
								<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							 	<i class="bi bi-play"></i>
							</div>
							<p style="margin-top:0vh;text-align:right">12:54</P>
							<p style="margin-top:-5vh;text-align:left"><i class="bi bi-eye"></i>7676</p>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, siz
gören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq">
								<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							 	<i class="bi bi-play"></i>
							</div>
							<p style="margin-top:0vh;text-align:right">12:54</P>
							<p style="margin-top:-5vh;text-align:left"><i class="bi bi-eye"></i>7676</p>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, siz
gören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>			
			<a style="display: flex;justify-content: center;"><button type="button" class="btn btn-warning">Has köp wideo...</button></a>
				</div>
			</div>
		</section>
		
		<section class="feature-area pt-11 pb-130" style="margin-top:-17%" id="journals">
			<div style="padding:5vw">
				<div class="row">
					<div class="col-lg-6 mx-auto pt-160 pt-lg-90 pb-65">
						<div class="section-title">
							<h2 class="wow fadeInUp">Mugallymyň makalalary</h2>
						</div>
					</div>
				</div>
				<div class="row gy-xl-0 gy-4">
					<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq1">
							<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							  <i class="bi bi-book"></i>
							</div>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, sizgören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
					<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq1">
							<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							  <i class="bi bi-book"></i>
							</div>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, sizgören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
					<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq1">
							<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							  <i class="bi bi-book"></i>
							</div>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, sizgören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq1">
							<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							  <i class="bi bi-book"></i>
							</div>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, siz
gören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
<div class="col-xl-3 col-md-6" style="margin-bottom:2%">
						<div class="feature-card-widget">
							<div class="iq1">
							<img src="{% static 'img/4.PNG' %}" alt="feature png" style="width:229px">
							  <i class="bi bi-book"></i>
							</div>
							<h4>Goshmacha tygshytlamalar</h4>
							<p>Tygşytlamak bu meýilnama bilen aňsat we amatly bolýar. Stress we diňe basmak bilen, siz
gören arzuwyňyza pul tygşytlap biler.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		
		<!-- our news section end -->
	</main>

	<!-- footer -->
	<footer class="footer footer-1" id="footer">
		<div class="footer-top  pt-25 pb-3">
			<div class="flog wow fadeInUp pb-10">
				<a href="index.html"><img src="{% static 'img/Logo1.png' %}" class="flip-icon" alt="logo" width="100px"></a>
			</div>
			<div class="copyright wow fadeInUp" data-wow-delay="0.1s">
				<p>Titu, Turkmenistan.</p>
			</div>
			<div class="footer-text wow fadeInUp" data-wow-delay="0.5s">
				<p>Sosial media programmalarymyza eýeriň:</p>
			</div>
			<div class="social-icon pt-10 wow fadeInUp" data-wow-delay="0.8s">
				<a href="https://etut.edu.tm/" id="fb"><i class="bi bi-globe"></i></a>
				<a href="mailto:oguzhan.edu.tm@gmail.com"><i class="bi bi-envelope"></i></a>
				<a href="https://en.wikipedia.org/wiki/Oguzhan_University_of_Engineering_Technologies"><i class="bi bi-wikipedia"></i></a>
			</div>
			<div class="footer-text wow fadeInUp" style="margin-top:2vh" data-wow-delay="0.5s">
				<p>100 Köşi Köçe, Aşgabat şäher, Türkmenistan</p>
			</div>
		</div>			
		<!-- copyright area -->
		<div class="copyright pt-2 pb-3" id="copy" style="background-color:#212529">
			<p>Awtorlyk hukugy; 2023. Titu, Turkmenistan.</p>
		</div>
	</footer>
	<!-- footer end -->

	<!-- Back to top button -->
	<a id="back-to-top" title="Back to Top"></a>
</body>




</html>