{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" media="all" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/card.css' %}" media="all" />

	<header class="header" style="position:fixed">
		<div class="header-menu header-menu-1" id="sticky">
			<nav class="navbar navbar-expand-lg ">
				<div class="container">
					<a class="navbar-brand sticky_logo" href="https://etut.edu.tm/">
						<img class="flip-icon" src="{% static 'img/Logo1.png' %}" alt="logo" width="70px">
					</a>
					<div style="margin-top:-8vh">
					<div>
						<a class="theme-btn theme-btn-rounded-2" style="left:37%;position:fixed">"Oguz mugallym" otagy</a>
                    </div>
					{% if video_open %}
						<div>
							<a class="theme-btn theme-btn-rounded-2" href="javascript:history.back()" style="float:right;position:fixed">Yza</a>
						</div>
					{% elif request.path == '/home' %}
						<div>
							<a class="theme-btn theme-btn-rounded-2" href="{% url 'enter' %}" style="float:right;position:fixed;margin-left:-10%">Başga mugallym sahypasy</a>
						</div>
					{% endif %}

					</div>
				</div>
			</nav>
		</div>
	</header>